In [83]:
import json
import pandas as pd
from bs4 import BeautifulSoup

## Bài 3

### 3.1

In [84]:
with open('../Lab3/data/PythonGroup.json') as f:
    group = json.load(f)

In [85]:
group = group['group']

# Chia các bài post ra
post_1 = group['posts'][0]
post_2 = group['posts'][1]

post_id_1 = post_1['post_id']
post_id_2 = post_2['post_id']

# Tác giả bài viết
author_1 = post_1['author'] 
author_2 = post_2['author']

# Nội dung bài viết
content_1 = post_1['content']
content_2 = post_2['content']

# Thời gian đăng
timestamp_1 = post_1['timestamp']
timestamp_2 = post_2['timestamp']

# likes
likes_1 = post_1['likes']
likes_2 = post_2['likes']

# share
shares_1 = post_1['shares']
shares_2 = post_2['shares']

In [ ]:
posts = [post_1, post_2]
pd.json_normalize(posts)

,post_id,content,timestamp,likes,shares,author.user_id,author.name
0,post_001,Python is very easy. How do you think?,2024-08-03 12:34:56,"[{'user_id': 'user_002', 'name': 'Jane Smith',...","[{'user_id': 'user_004', 'name': 'Bob Brown', ...",user_001,John Doe
1,post_002,Learning Python by reading book and coding,2024-08-03 15:34:56,"[{'user_id': 'user_001', 'name': 'John Doe', '...","[{'user_id': 'user_003', 'name': 'Alice Johnso...",user_002,Jane Smith

In [ ]:
def extract_data_from_PythonGroup(data:dict):
    pass

user_id: user_002 - name: Jane Smith
user_id: user_003 - name: Alice Johnson